include requirements.txt
include LICENSE
include README.md
include README.rst
recursive-include driver27 *.py
recursive-include driver27/admin *.py
recursive-include driver27/fixtures *.json
recursive-include driver27/locale *
recursive-include driver27/migrations *.py
recursive-include driver27/static *.css
recursive-include driver27/templates *.html
recursive-include driver27/templatetags *.py
recursive-include driver27/tests *.py
recursive-include driver27/urls *.py