# MANDATORY
djangorestframework>=3.7.0
django-swapfield
django-filter
django-countries
python-slugify

# TEMPLATES
django-bootstrap3

# OPTIONAL, USED IN DEMO
django-tabbed-admin
python-memcached
django-memcache-status
django-flat-responsive

# FOR TESTING
tox

# 2.7
unicodecsv