Django==1.10.1
django-bootstrap3==7.1.0
django-countries==4.0
-e git+https://github.com/Feverup/django-modelclone.git@2b42088a50dbc94e1d81f430339052d96fd88ce1#egg=django_modelclone
django-tabbed-admin==1.0.1
python-slugify==1.2.1
