{% extends 'base.html' %}
{% load driver27 i18n %}
{% block menu %}
    {% include 'driver27/global/menu-pre.html' %}
    {% include 'driver27/global/menu.html' %}
{% endblock %}
{% block content %}
    {{ block.super }}

    <table class="table table-condensed table-striped table-hover leaders">
        <tr>
            <th class="col-xs-1 col-md-2 season">{% trans 'Season' %}</th>
            <th class="hidden-xs col-md-2 competition">{% trans 'Competition' %}</th>
            <th class="hidden-xs col-md-1 year">{% trans 'Year' %}</th>
            <th class="col-xs-5 col-md-4 leader driver">{% trans 'Driver leader' %}</th>
            <th class="col-xs-6 col-md-3 leader team">{% trans 'Team leader' %}</th>
        </tr>
        <tr id="seasons-list"></tr>
    </table>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">

        $('.loader-lock').removeClass('hide');
        var el = $('#seasons-list');
        $.get("{% url 'driver27:global:tpl' %}",
            function (data) {
                el.replaceWith(data);
                $('.loader-lock').addClass('hide');
            }
        )
        ;

    </script>
{% endblock %}