{% extends 'driver27/base.html' %}
{% block dr27_menu %}
    {% include 'driver27/season-menu-pre.html' %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'season-driver' season.competition.slug season.year %}">Drivers</a>
    </li>
    <li class="nav-item">
        <a>>></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'season-driver-olympic' season.competition.slug season.year %}">Olympic</a>
    </li>
    {% if access_to_road %}
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'season-driver-road' season.competition.slug season.year %}">Road to championship</a>
        </li>
    {% endif %}
{% endblock %}
{% block dr27_content %}
    {{ block.super }}
    {% include 'driver27/driver-list-scoring-form.html' %}
    {% if olympic %}
        {% include 'driver27/driver-list-olympic.html' %}
    {% else %}
        {% include 'driver27/driver-list-table.html' %}
    {% endif %}
{% endblock %}


{% block bootstrap3_extra_script %}
    {{ block.super }}
    {% if road_to_championship %}
        {% include 'driver27/driver-list-road-to-championship.html' %}
    {% endif %}
{% endblock %}