{% extends 'driver27/base.html' %}
{% load i18n %}
{% block dr27_menu %}
    {% include 'driver27/season-menu-pre.html' %}
    {% include 'driver27/driver-menu.html' %}
{% endblock %}
{% block dr27_content %}
    {{ block.super }}
{% load champion_filter i18n %}
    <form method="POST">
    {% csrf_token %}
        <select id="record" name="record" onchange="change_record()">
            {% if not record %}
                <option value="">---</option>
            {% endif %}
            {% for record_code in record_codes %}
            <option value="{% url 'season-driver-record' season.competition.slug season.year record_code.code %}"
            {% if record_code.code == record %}selected{% endif %}
            >{{ record_code.label }}</option>
            {% endfor %}
        </select>
    </form>
    {% if rank %}
<table class="table">
    <tr>
        <th>{%  trans 'Count' %}</th>
        <th>{%  trans 'Driver' %}</th>
        <th>{%  trans 'Team' %}</th>
    </tr>
    {% for count,driver,team in rank %}
        <tr>
        <td>{{ count }}</td>
        <td>{{ driver }}</td>
        <td>{{ team }}</td>
        </tr>
    {% endfor %}

    </table>
    {% endif %}
{% endblock %}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        function change_record(){
            var record = $('#record').val();
            location.href = record;
        }
    </script>
{% endblock %}