<script type="text/javascript">

    function reload_standing(el){
        var standing_model = $(el).data('standingModel');
        console.log(standing_model);
        $.get("{% url 'dr27-ajax:standing' %}",
            {
                'olympic': "{% if olympic == True %}1{% else %}0{% endif %}",
                'competition': "{{ competition.pk }}",
                'year': "{{ season.year }}",
                'punctuation': "{{ scoring_code }}",
                'by_season': "{% if by_season %}1{% else %}0{% endif %}",
                'model': standing_model
            },
            function (response) {
                $(el).replaceWith(response);
            }
        );
    }

    $(function(){
        $('.standing[data-standing-model]').each(function(index, el){
            reload_standing(el);
        })
    });

</script>