    <script type="text/javascript">

        $.get({% if season %}"{% url 'dr27-season-driver-tpl' season.competition.slug season.year %}"
            {% elif competition %}}"{% url 'dr27-competition-driver-tpl' competition.slug %}"
            {% else %}"{% url 'dr27-global-driver-tpl' %}"{% endif %}, {'rank_model': 'driver'},
                function (data) {
                $('#driver-rank').replaceWith(data);
            }
        )
        ;

        $.get({% if season %}"{% url 'dr27-season-driver-tpl' season.competition.slug season.year %}"
            {% elif competition %}}"{% url 'dr27-competition-driver-tpl' competition.slug %}"
            {% else %}"{% url 'dr27-global-driver-tpl' %}"{% endif %}, {'rank_model': 'team'},
                function (data) {
                $('#team-rank').replaceWith(data);
            }
        )
        ;

    </script>