{% extends 'driver27/base.html' %}
{% load i18n %}
{% block dr27_menu %}
    {% include 'driver27/season-menu-pre.html' %}
    {% include 'driver27/team-menu.html' %}

{% endblock %}
{% block dr27_content %}
    {{ block.super }}
{% load champion_filter i18n %}
    <form method="POST" class="form-inline">
    {% csrf_token %}
        <div class="form-group">
        <label for="record" class="control-label">Record:</label>
            <select id="record" name="record" onchange="change_record()" class="form-control input-sm">
            {% if not record %}
                <option value="">---</option>
            {% endif %}
            <optgroup label="{% trans 'Total' %}">
                {% for record_code in record_codes %}
                <option value="{% url 'season-team-record' season.competition.slug season.year record_code.code %}"
                {% if record_code.code == record and rank_type == 'STATS' %}selected{% endif %}
                >{{ record_code.label }}</option>
                {% endfor %}
            </optgroup>

            <optgroup label="{% trans 'Races with at least one' %}">
                {% for record_code in record_codes %}
                <option value="{% url 'season-team-record-races' season.competition.slug season.year record_code.code %}"
                {% if record_code.code == record  and rank_type == 'RACES' %}selected{% endif %}
                >{{ record_code.label }}</option>
                {% endfor %}
            </optgroup>

            <optgroup label="{% trans 'Races with doubles' %}">
                {% for record_code in record_codes %}
                    {% if record_code.team_doubles_filter %}
                <option value="{% url 'season-team-record-doubles' season.competition.slug season.year record_code.code %}"
                {% if record_code.code == record  and rank_type == 'DOUBLES' %}selected{% endif %}
                >{{ record_code.label }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>

            </select>
        </div>
        <div class="clear"></div>

    </form>
    {% if rank %}
{#        <span class="help-block">#}
{#        {% if races %}#}
{#            <a href="{% url 'season-team-record' season.competition.slug season.year record %}">#}
{#            {% trans 'Current record' %}</a>#}
{#        {% else %}#}
{#            <a href="{% url 'season-team-record-races' season.competition.slug season.year record %}">#}
{#            {% trans 'Current record by race' %}</a>#}
{#        {% endif %}#}
{#        </span>#}
<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>{%  trans 'Count' %}</th>
        <th>{%  trans 'Team' %}</th>
    </tr>
    {% for count,team in rank %}
        <tr>
        <td>{{ count }}</td>
        <td>{{ team }}</td>
        </tr>
    {% endfor %}

    </table>
    {% endif %}
{% endblock %}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        function change_record(){
            var record = $('#record').val();
            location.href = record;
        }
    </script>
{% endblock %}