{% load champion_filter i18n %}
{% if rank %}
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>{% trans 'Team' %}</th>
            {% for position in positions %}
                <th>{{ position }}</th>
            {% endfor %}
        </tr>
        </thead>

        {% for entry in rank %}
            <tr>
                <td><a href="{% url 'dr27-profile-team-view' entry.team.pk %}">{{ entry.team }}</a></td>
                {% for position in entry.pos_list %}
                    <td>{{ position }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No teams</p>
{% endif %}