{% extends 'driver27/base.html' %}
{% load i18n %}
{% block dr27_menu %}
    {% include 'driver27/season/season-menu-pre.html' %}
    <li class="nav-item">
        <a class="nav-link"
           href="{% url 'driver27:dr27-season-race-list' season.competition.slug season.year %}">{% trans 'Races' %}</a>
    </li>
{% endblock %}
{% block dr27_content %}
    {{ block.super }}
    <table class="table">
        <tr>
            <th>{% trans 'Round' %}</th>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Grand Prix' %}</th>
            <th>{% trans 'Circuit' %}</th>
            <th>{% trans 'Winner' %}</th>
            <th>{% trans 'Winner team' %}</th>
        </tr>
        {% for race in races %}
            <tr>
                <td>
                    <a href="{{ race.get_absolute_url }}">{{ race.round }}</a>
                </td>
                <td>{{ race.date }}</td>
                <td>{{ race.grand_prix }}</td>
                <td>{{ race.circuit }}</td>
                {% if race.winner %}
                    <td><a href="{{ race.winner.driver.get_absolute_url }}">{{ race.winner.driver }}</a></td>
                    <td><a href="{{ race.winner.team.get_absolute_url }}">{{ race.winner.team }}</a></td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>

{% endblock %}
