
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script type="text/javascript">

        var scoring = {{ scoring }};

        function change_results_contender(contender){

            var contender_results = [];

            $('.contender_'+contender).each(function(index, el){
                var contender_result = parseInt(el.value);
                contender_results.push(contender_result);
            });

            var new_points = _.sumBy(contender_results, function(o){
                var value = 0;
                if(o && scoring.length >= o){
                    value = scoring[o-1];
                }
                return value;
            });


            var current_points = parseFloat($('#points_'+contender).text());
            $('#total_'+contender).text(new_points + current_points);

            var default_str = '000';
            var positions = ($('#pos_'+contender).val().match(/\d{3}/g));
            var count_results = _.countBy(contender_results);
            var total_positions = '';
            $(positions).each(function(index, el){
                var pos = index + 1;
                var total_count_pos = parseInt(el);
                if(pos in count_results && !isNaN(count_results[pos])){
                    total_count_pos += count_results[pos]
                }

                total_positions += (default_str+total_count_pos).slice(-default_str.length);

            });

            var all_total_points = $('.total_points');

            var leader_points = _.max(_.map(all_total_points, function(n){return parseInt(n.textContent)}));

            all_total_points.each(function(x){
               if(parseInt(this.textContent) === leader_points){
                   $(this).addClass('champion_points');
               } else {
                   $(this).removeClass('champion_points');
               }
            });
        }
    </script>