{% extends 'driver27/base.html' %}
{% load i18n %}
{% block dr27_content %}
    {{ block.super }}
    <div id="rank"></div>
{#    {% include 'driver27/driver/driver-list-table.html' %}#}
{% endblock %}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script type="text/javascript">

        $.get(
            {% if season %}"{% url 'dr27-season-driver-tpl' season.competition.pk season.year %}"
            {% elif competition %}}"{% url 'dr27-competition-driver-tpl' competition.pk %}"
            {% else %}"{% url 'dr27-global-driver-tpl' %}"{% endif %},
        function (data) {
            $('#rank').html(data);
        }
        )
        ;

    </script>
{% endblock %}