{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify admin_urls %}

{% include 'driver27/admin/_breadcrumbs.html' %}

{% load i18n admin_urls %}
{% block content %}
    <h3>{{ season }}</h3>
    <form method="POST" id="copy_teams_form">
        {% csrf_token %}

        {% if step == 2 %}
            {% include 'driver27/admin/copy_teams_errors.html' %}

            {% if only_exists_teams %}
                <h4>Teams that could be saved in {{ season_destiny }}</h4>
                {% with teams=only_exists_teams ok=True can_save=can_save %}
                    {% include 'driver27/admin/list_teams.html' %}
                {% endwith %}
            {% endif %}

            {% if both_exists_teams %}
                <h4>Teams that are already saved in {{ season_destiny }}</h4>
                {% with teams=both_exists_teams ok=False can_save=can_save %}
                    {% include 'driver27/admin/list_teams.html' %}
                {% endwith %}
            {% endif %}

            {% if season_destiny %}
                {% include 'driver27/admin/copy_teams_errors.html' %}
            {% endif %}

            <div class="submit-row">
                {% if only_exists_teams and can_save %}
                    <input type="hidden" name="season_destiny" value="{{ season_destiny.pk }}"/>
                    <input type="submit" name="_confirm" value="Confirm"/>
                {% endif %}
                <p class="deletelink-box">
                    <a href="{% url 'admin:dr27-copy-teams' pk=season.pk %}" class="deletelink">Back to Step 1</a>
                </p>
            </div>



        {% else %}

            {% if available_seasons and teams %}

                <label for="season_destiny">Select season where we'll copy the teams</label>
                {% for available_season in available_seasons %}
                     <br/><input type="radio" name="season_destiny" value="{{ available_season.pk }}">
                        {{ available_season }}
                {% endfor %}

                <table class="teams">
                    <thead>
                        <tr>
                            <th>
                    <input type="checkbox" id="select-all" value="1"/> <label for="select-all">{% trans 'all' %}</label>
                            </th>
                            <th>Team</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td><input type="checkbox" name="teams" value="{{ team.pk }}"></td>
                                <td>{{ team.name }}</td>
                                <td>{{ team.country }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" name="_selector" value="Next step"/>
            {% else %}
                No teams or no available seasons
                <div class="submit-row">
                <p class="deletelink-box">
                    <a href="{% url 'admin:driver27_season_change' season.pk %}" class="deletelink">Back to Season {{ season }}</a>
                </p>
                </div>
            {% endif %}


        {% endif %}

    </form>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#select-all').click(function() {
                var c = this.checked;
                $('input[name="teams"]').prop('checked',c);
            });
        });
    </script>
{% endblock %}